---
---

$header-bg-color: #ee82ee;
$header-bg-color-secondary: #9999ff;
$section-headings-color: #ee82ee;
$footer-link-color: #819198;
$hr-border-color: #eff0f1;
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.site-page-content-license {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer a {
  color: $footer-link-color;
}

.site-footer-navs a {
  margin-right: 1rem;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
margin-top: 2rem;
margin-bottom: 1rem;
font-weight: normal;
color: $section-headings-color;
}

@import "{{ site.theme }}";