---
---

$header-bg-color: #ee82ee;
$header-bg-color-secondary: #9999ff;
$section-headings-color: #ee82ee;
$footer-text-color: #819198;
$hr-border-color: #eff0f1;

.site-content-license {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
}

.site-footer-link {
  float: left;
  display: flex;
}

.site-footer-link > a {
  margin-right: 3rem;
  color: $footer-text-color;
}

.site-footer-moe-icp{
  float: right;
  display: flex;
}

.site-footer-moe-icp > a {
  color: $footer-text-color;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
margin-top: 2rem;
margin-bottom: 1rem;
font-weight: normal;
color: $section-headings-color;
}

@import "{{ site.theme }}";